/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */

'use strict'

const ~~~~package_name@camelcase~~~~ = require('./~~~~package_name@snakecase~~~~')

let lib = ~~~~package_name@camelcase~~~~.bind(this)

Object.assign(lib, ~~~~package_name@camelcase~~~~, {
  ~~~~package_name@camelcase~~~~
})

module.exports = lib
