/**
 * @function ~~~~package_name@camelcase~~~~
 * @param {Object} config - Configuration
 * @returns {Object} - Interface settings
 */
'use strict'

const { name, version } = require('../package.json')
const co = require('co')

/** @lends ~~~~package_name@camelcase~~~~ */
function ~~~~package_name@camelcase~~~~ (config = {}) {
  return {

    // ( Define methods here )

    /**
     * Interface specification
     * @see https://github.com/realglobe-Inc/sg-schemas/blob/master/lib/interface_spec.json
     */
    $spec: {
      name,
      version,
      desc: '__your_interface_description__',
      methods: {

        // ( Describe methods here )

      }
    }
  }
}

module.exports = ~~~~package_name@camelcase~~~~
