#!/usr/bin/env node

/**
 * Example usage of the caller
 */
'use strict'

const ~~~~package_name@camelcase~~~~ = require('~~~~package_name~~~~')
const sugoActor = require('sugo-actor')
const co = require('co')

co(function * () {
  let actor = sugoActor('http://my-sugo-cloud.example.com/actors', {
    key: 'my-actor-01',
    modules: {
      // Register the module
      module01: ~~~~package_name@camelcase~~~~({})
    }
  })
  yield actor.connect()
}).catch((err) => console.error(err))
