import spots from './spots'
import dominantColor from './dominant_color'
import modalWindow from './modal_window'

const { connectSpots, toggleRequesting } = spots

export {
  connectSpots,
  dominantColor,
  modalWindow,
  toggleRequesting
}
