import actors from './actors'
import dominantColor from './dominant_color'
import modalWindow from './modal_window'

const { connectActors, toggleRequesting } = actors

export {
  connectActors,
  dominantColor,
  modalWindow,
  toggleRequesting
}
