<!DOCTYPE html>
<html>
  <head>
    <title>~~~~package_name~~~~</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div id="site"></div>
  </body>
  <script src="/js/bundle.js"></script>
</html>
