### Setup Cloud

Install

```bash
$ npm install {{pkg.name}}
```

In production, compile and start the servers.

```bash
$ redis-server
$ ./ci/compile.js
$ npm start
```

In develepment, you need this.

```bash
$ npm run start-dev
```
