import {ok} from 'assert'
import actors from '../../../ui/js/reducers/actors'

describe('reducer actors', () => {
  it('initialState', () => {
    let key = actors(undefined, {})
    ok(key)
  })
})

/* global describe it */
