/**
 * {{pkg.description}}
 * @module {{ pkg.name }}
 * @version {{ pkg.version }}
 */

'use strict'

const create = require('./create')
const pkg = require('../package.json')

let lib = create.bind(this)

Object.assign(lib, create, {
 create,
 version: pkg.version
})

module.exports = lib
