/**
 * Run cloud
 * @function cloud
 * @returns {Promise}
 */
'use strict'

const pkg = require('../package.json')
const sugoCloud = require('sugo-cloud')
const co = require('co')
const debug = require('debug')('~~~~package_name@enumcase~~~~:cloud')
const colorprint = require('colorprint')

const compile = require('sugo-endpoint-compile')
const file = require('sugo-endpoint-file')

let configs = require('./configs')

/** @lends cloud */
function cloud () {
  debug('Example cloud invoked')
  let { port, storage, contents } = configs()

  colorprint.notice(`[${pkg.name}] Running cloud script...`)
  colorprint.trace('Settings: %s', { port, storage })
  return co(function * () {
    let cloud = yield sugoCloud({
      port, storage,
      static: [ 'ui' ],
      middlewares: [],
      endpoints: {
        // Dynamic compiler for user defined script
        '/dynamic/compile': compile(),
        '/dynamic/contents/:filename': file(contents)
      }
    })
    return cloud
  })
}

module.exports = cloud
