/**
 * Run terminal
 * @function terminal
 * @returns {Promise}
 */
'use strict'

const pkg = require('../package.json')
const sugoTerminal = require('sugo-terminal')
const co = require('co')
const debug = require('debug')('~~~~package_name@enumcase~~~~:terminal')
const colorprint = require('colorprint')

let configs = require('./configs')

/** @lends terminal */
function terminal () {
  debug('Example terminal invoked')

  let { port, hostname } = configs()
  let url = `http://${hostname}:${port}/terminals`

  let { INTERVAL, SPOT_KEY } = process.env

  let spotKey = SPOT_KEY
  if (!spotKey) {
    throw new Error('SPOT_KEY is required.')
  }
  let interval = INTERVAL || 1200

  colorprint.notice(`[${pkg.name}] Running terminal script...`)
  colorprint.trace('Settings: %s', { port, hostname, spotKey, interval })
  return co(function * () {
    let terminal = sugoTerminal(url)
    let spot = yield terminal.connect(spotKey)

    let noop = spot.noop()
    yield noop.assert()

    let loopCount = 0
    let loop = setInterval(co.wrap(function * main () {
      loopCount += 1
      colorprint.info(`Loop ${loopCount} started ...`)

      // Take ping-pong with noop interface.
      {
        let noop = spot.noop()
        console.log('Send ping to noop...')
        let pong = yield noop.ping()
        console.log(`...received ping from noop: "${pong}"`)
      }
      colorprint.info(`...loop ${loopCount} finished!`)
    }), interval)
    terminal.kill = () => Promise.resolve(clearInterval(loop))
    return terminal
  }).catch((err) => {
    colorprint.error(err)
    return Promise.reject(err)
  })
}

module.exports = terminal
