import {ok} from 'assert'
import dominantColor from '../../ui/js/reducers/dominant_color'

describe('reducer dominantColor', () => {
  it('initialState', () => {
    let key = dominantColor(~~~~author_email~~~~, {})
    ok(key)
  })
})

/* global describe it */
