import {ok} from 'assert'
import modalWindow from '../../ui/js/reducers/modal_window'

describe('reducer modalWindow', () => {
  it('initialState', () => {
    let key = modalWindow(~~~~author_email~~~~, {})
    ok(!key)
  })
})

/* global describe it */
