import {ok} from 'assert'
import spots from '../../ui/js/reducers/spots'

describe('reducer spots', () => {
  it('initialState', () => {
    let key = spots(~~~~author_email~~~~, {})
    ok(key)
  })
})

/* global describe it */
