/**
 * Create an instance
 * @function create
 * @returns {~~~~package_name@pascalcase~~~~}
 */
'use strict'

const ~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@snakecase~~~~')

/** @lends create */
function create (...args) {
  return new ~~~~package_name@pascalcase~~~~(...args)
}

module.exports = create
