/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 4.0.5
 */

'use strict'

const create = require('./create')
const ~~~~module_name~~~~ = require('./~~~~module_name@snakecase~~~~')

let lib = create.bind(this)

Object.assign(lib, ~~~~module_name~~~~, {
  create,
  ~~~~module_name~~~~
})

module.exports = lib
