/**
 * Test case for ~~~~component_name@spinalcase~~~~-style.
 * Runs with mocha.
 */
'use strict'

import ~~~~component_name~~~~Style from '../lib/~~~~component_name@snakecase~~~~_style'
import React from 'react'
import assert from 'assert'
import { shallow } from 'enzyme'

describe('~~~~component_name@spinalcase~~~~-style', () => {
  before(() => {
  })

  after(() => {
  })

  it('Render a component', () => {
    let element = shallow(
      <~~~~component_name~~~~Style/>
    )
    assert.ok(element)
  })
})

/* global describe, before, after, it */
