/**
 * Entrypoint of lib scripts.
 * Mount react component in to DOM when loaded.
 */
'use strict';

var _sgReact = require('sg-react');

var _component = require('./component');

var _component2 = _interopRequireDefault(_component);

var _configs2 = require('../../../lib/configs');

var _configs3 = _interopRequireDefault(_configs2);

var _package = require('../../../package.json');

var _package2 = _interopRequireDefault(_package);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

require('babel-polyfill');

var _configs = (0, _configs3.default)();

var color = _configs.color;
var port = _configs.port;
var hostname = _configs.hostname;


(0, _sgReact.once)('DOMContentLoaded', function () {
  (0, _sgReact.mount)('mount-root', _component2.default, {
    pkg: _package2.default, color: color, port: port, hostname: hostname
  }).then(function () {
    console.debug('Component mounted');
  });
});