language: node_js
node_js:
- '6'
before_install:
- npm i npm-cli-login -g
- echo "NPM_USER=${NPM_USER}"
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
install:
- npm install
script:
- "./ci/build.js"
- "./ci/shim.js"
- "./ci/test.js"
after_success:
- "./ci/travis/publish.js"
- "./ci/travis/push_scaffold.js"
- "./ci/travis/push_sugos_index.js"

env:
  secure: "DRyEk+SiYLSGuSU90Fjq5UswA7vCxB33Ul3hfzYNsl4np3ppDQGgsfl+mhorcyA49Qlki7aQD8c//uHSyvG5fMw42MtzJWI3eytQN0iNHiAjXHBp1RQS5RVM+KlmoVeL0XsY7k37aUey3D/QQmOMuBgvv7MYaES5b93PveAbWb9TFTRex781lNXvqd5hsHeU7k7PPiCTdu50SsW1tJaMesRkPx+Qt6VVEtD1j+BFu0RWFOH39HisYyN0961WEjN1H7h84svEV3nyCNC7/A/SYI7f0AaIQ1DivNnPQN79jiz0fonIcPtyjAM5LBzSHb4OWeHc5akn8a+hZGda4XAQbMTVBMKuine6pr4RJ0mauHEeJ04p5Y03M/mMhY+pg05jkYiRd8XAoxTRO6n15o0+jkfF6+tNcq7rw+zPhaC0RP3LlmhbpCg/rG/16wP+2Y0ImOgby5ZCposdEhb9+Qj0yKQyL/Uko1oqJviYjmrqw4syjovPAJVaap1o9SAXf+5LEq0C1g4crIxCcL7P+q0MFZQ83oXjrp2MKgfpB7rCgiZlC/3+z4o/eeWysUUuf7pxXjloDZK+JKwC8hsev0YMFjdVOaQLY9ejYT4W2yxYwzl864hCpsIARJM614FHscOUMac1lb1HOdjIlB7o8O2OyLyw+ba4iNDrX8slne29IwQ="
