{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "browser": "shim/browser",
  "scripts": {
    "prepare": "node ./ci/build.js && node ./ci/shim.js",
    "test": "node ./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "agent"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "Apache-2.0",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "co": "^4.6.0",
    "debug": "^2.2.0",
    "sugo-agent-base": "^1.2.7"
  },
  "devDependencies": {
    "ape-tmpl": "^5.0.14",
    "coz": "^6.0.14",
    "injectmock": "^2.0.0",
    "sg-server": "^1.2.8",
    "sugo-agent-base": "^1.2.7",
    "sugo-ci-agent": "^2.0.1",
    "sugos-assets": "^2.0.1",
    "sugos-travis": "^2.0.7"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=4"
  }
}