{
  "default": {
    "SERVER": 3000
  },
  "development": {
    "SERVER": 3000,
    "BUILD_SERVER": 3002
  },
  "test": {
    "SERVER": 3001
  },
  "production": {
    "SERVER": #{process.env.PORT}
  }
}
