### Setup Cloud

Install the CLI

```bash
$ npm install {{pkg.name}} -g
```

Then, start the server

```bash
$ PORT=300 {{pkg.name}} cloud
```

In the most of cases, you need to setup reverse-proxy (like [nginx][nginx_url]) to exports the server to the outer world.

[nginx_url]: https://www.nginx.com/
