### Setup Cloud

Setup a cloud server to provide UI pages and actor/connector API.
This component is build with [SUGO-Cloud][sugo_cloud_url] package.


Install the CLI:

```bash
$ npm install {{pkg.name}} -g
```

Then, run the server

```bash
$ PORT=3000 {{pkg.name}} cloud
```

In the most of cases, you need to setup reverse-proxy (like [nginx][nginx_url]) to exports the server to the outer world.

[nginx_url]: https://www.nginx.com/
