### Connect Actor

Connect an actor to provides functionalities with.
This component is build with [SUGO-Actor][sugo_actor_url] package.

Install the CLI:

```bash
$ npm install {{pkg.name}} -g
```

Then, connect the actor to the cloud

```bash
$ HOSTNAME="__your_host__" ACTOR_KEY="__your_actor_name__" {{pkg.name}} actor
```
