### Run Spot

Install the CLI


```bash
$ npm install {{pkg.name}} -g
```

Then, connect the spot to cloud

```bash
$ HOSTNAME=__your_cloud_hostname__ SPOT_KEY=__your_own_spot_name__ {{pkg.name}} spot
```
