### Run Spot


Install the CLI to machine which the spot runs on. 

```bash
$ npm install {{pkg.name}} -g
```

Then, connect spot to the cloud

```bash
$ HOST=__hostname_of_your_cloud__ {{pkg.name}} spot 
```
