### Connect Caller


Install the CLI

```bash
$ npm install {{pkg.name}} -g
```

Then, run the example caller

```bash
$ HOSTNAME="__your_host__" {{pkg.name}} caller
```

Or, you can try it from UI pages on the cloud.
