### Run Caller

Run a caller to call functions defined in actor.
This component is build with [SUGO-Caller][sugo_caller_url] package.


Install the CLI:

```bash
$ npm install {{pkg.name}} -g
```

Then, run the example caller

```bash
$ HOSTNAME="__your_host__" {{pkg.name}} caller
```

Or, you can try it from UI pages on the cloud.
