### Use Terminal


Install the CLI to machine which the use terminal.

```bash
$ npm install {{pkg.name}} -g
```

Then, rune the example terminal

```bash
$ HOST=__hostname_of_your_cloud__ {{pkg.name}} terminal
```