### Use Terminal


Install the CLI

```bash
$ npm install {{pkg.name}} -g
```

Then, rune the example terminal

```bash
$ HOSTNAME=__your_cloud_hostname__ {{pkg.name}} terminal
```

Or, you can try it from UI pages on the cloud.
