{
  "name": "~~~~package_name~~~~",
  "description": "~~~~package_description~~~~",
  "env": {
    "NODE_ENV": {
      "value": "production"
    }
  },
  "addons": [
    "heroku-redis:hobby-dev"
  ],
  "scripts": {}
}