{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "scripts": {
    "build": "node ./ci/build.js && node ./ci/compile.js",
    "dev": "node ./ci/dev.js",
    "prepublish": "npm run build",
    "start": "node ./bin/hub.js",
    "test": "mocha test/js && karma start"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "React.js",
    "Redux"
  ],
  "author": {
    "email": "~~~~author_email~~~~",
    "name": "~~~~author_name~~~~",
    "url": "https://github.com/~~~~author_name@pascalcase~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/~~~~github_repository~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository~~~~#readme",
  "dependencies": {
    "apemanenv": "^3.0.4",
    "classnames": "^2.2.5",
    "co": "^4.6.0",
    "color": "^0.11.3",
    "debug": "^2.2.0",
    "node-sass": "^3.8.0",
    "postcss-loader": "^0.9.1",
    "react": "^15.3.0",
    "react-dom": "^15.3.0",
    "react-redux": "^4.4.5",
    "redux": "^3.5.2",
    "redux-logger": "^2.6.1",
    "redux-thunk": "^2.1.0",
    "sg-react-components": "^1.3.8",
    "sugo-caller": "^2.1.7",
    "sugo-ci-site": "^1.0.14",
    "sugo-hub": "^4.0.1",
    "sugo-module-noop": "^4.0.3"
  },
  "devDependencies": {
    "asleep": "^1.0.3",
    "babel-core": "^6.11.4",
    "babel-loader": "^6.2.4",
    "babel-polyfill": "^6.9.1",
    "babel-preset-es2015": "^6.9.0",
    "babel-preset-react": "^6.11.1",
    "babel-preset-react-hmre": "^1.1.1",
    "babel-register": "^6.11.5",
    "coz": "^6.0.16",
    "css-loader": "^0.23.1",
    "enzyme": "^2.4.1",
    "json-loader": "^0.5.4",
    "karma": "^1.1.2",
    "karma-chrome-launcher": "^1.0.1",
    "karma-firefox-launcher": "^1.0.0",
    "karma-mocha": "^1.1.1",
    "koa-webpack-dev-middleware": "^1.2.1",
    "koa-webpack-hot-middleware": "^1.0.3",
    "mocha": "^3.0.0",
    "react-addons-test-utils": "^15.3.0",
    "sass-loader": "^4.0.0",
    "sg-travis": "*",
    "style-loader": "^0.13.1",
    "sugo-actor": "*",
    "sugos-assets": "*",
    "webpack": "^1.13.1",
    "webpack-dev-server": "^1.14.1",
    "webpack-hot-middleware": "^2.12.1"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}