/**
 * Pong window respondging to the Ping.
 */
import React from 'react'
import {connect} from 'react-redux'
import {modalWindow} from '../actions'
import classnames from 'classnames'
import SgButton from 'sg-react-components/lib/sg_button'

let PongWindow = React.createClass({
  propTypes: {
    display: React.PropTypes.bool,
    close: React.PropTypes.func
  },

  render () {
    const s = this
    let {props} = s
    let {display, close} = props
    return (
      <div className={classnames('pong-window-background', display ? '' : 'hidden')}>
        <div className='pong-window'>
          <p>Pong !</p>
          <SgButton onTap={close}>Close</SgButton>
        </div>
      </div>
    )
  }
})

const mapStateToProps = (state, ownProps) => {
  return {
    display: state.modalWindow
  }
}

const mapDispatchToProps = (dispatch) => {
  return {
    close () {
      dispatch(modalWindow())
    }
  }
}

PongWindow = connect(mapStateToProps, mapDispatchToProps)(PongWindow)

export default PongWindow
