/**
 * The List of SUGO Spots.
 */
import React from 'react'
import {connect} from 'react-redux'
import SpotListItem from './spot_list_item'

const debug = require('debug')('sg:site:spot_list')

let SpotList = React.createClass({
  propTypes: {
    spots: React.PropTypes.array
  },
  getDefaultProps () {
    return {
      spots: []
    }
  },

  render () {
    const s = this
    let { props } = s
    let { spots } = props
    debug(spots)
    if (spots.length > 0) {
      return (
        <div className='spot-list'>
        {
          spots.map((spot) => {
            return (
              <SpotListItem key={spot.key} spot={spot}/>
            )
          })
        }
        </div>
      )
    } else {
      return (
        <div className='spot-list'>
          <div className='spot-list-empty'>
            No spots connected.
          </div>
        </div>
      )
    }
  }
})

const mapStateToProps = (state, ownProps) => {
  return {
    spots: state.spots
  }
}

SpotList = connect(mapStateToProps)(SpotList)

export default SpotList
