import React from 'react'
import ReactDOM from 'react-dom'
import App from './components/app'
import { Provider } from 'react-redux'
import { createStore, applyMiddleware } from 'redux'
import createLogger from 'redux-logger'
import thunkMiddleware from 'redux-thunk'
import Reducer from './reducers'
import config from '../config'
import {dominantColor} from './actions'

const debug = require('debug')('sg:site:index')
debug(`NODE_ENV = ${process.env.NODE_ENV}`)

const rootEl = document.getElementById('site')
const middlewares = [thunkMiddleware]

if (process.env.NODE_ENV !== 'production') {
  const logger = createLogger()
  middlewares.push(logger)
}

let store = createStore(
  Reducer,
  applyMiddleware(...middlewares)
)

const color = config().color
store.dispatch(dominantColor({ color }))

function render () {
  ReactDOM.render(
    <Provider store={ store }>
      <App color={ color }/>
    </Provider>,
    rootEl
  )
}

document.addEventListener('DOMContentLoaded', render)
