#!/usr/bin/env node

const { spawn } = require('child_process')
const env = require('../env')

process.chdir(`${__dirname}/..`)

let commands = [
  'redis-server',
  './bin/cloud.js',
  './ci/dev_server.js'
]

delayedExec(commands)

function delayedExec (commands) {
  commands.forEach((command, i) => {
    setTimeout(() => {
      console.log(`> ${command}`)
      let child = spawn(command, [], {
        stdio: 'inherit',
        env: Object.assign(process.env, {
          NODE_ENV: 'development',
          DEBUG: 'sg:*,sg:*',
          HOSTNAME: `localhost:${env.port.CLOUD}`
        })
      })
      child.on('error', (err) => {
        console.error(err)
      })
    }, i * 2000)
  })
}
