#!/usr/bin/env node

/**
 * Start a build server.
 */

process.chdir(`${__dirname}/..`)

const { devServer } = require('sugo-ci-site')
const { port } = require('../env')

devServer({ port, dir: process.cwd() })
