#!/usr/bin/env node

/**
 * Generate favicon.
 */

'use strict'

process.chdir(`${__dirname}/..`)

const { name } = require('../package.json')
const { color } = require('../ui/config')()
const { favicon } = require('sugo-ci-site')

favicon(name, color, {})
