/**
 * Test case for ~~~~package_name@camelcase~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~package_name@camelcase~~~~ = require('../lib/~~~~package_name@snakecase~~~~.js')
const assert = require('assert')
const sgSchemas = require('sg-schemas')
const sgValidator = require('sg-validator')
const co = require('co')

describe('~~~~package_name~~~~', () => {
  before(() => co(function * () {

  }))

  after(() => co(function * () {

  }))

  it('Sugo demo interface', () => co(function * () {
    let interface_ = ~~~~package_name@camelcase~~~~({})
    assert.ok(interface_)

    let { $spec } = interface_
    let specError = sgValidator(sgSchemas.interfaceSpec).validate($spec)
    assert.ok(!specError)
  }))

  it('Ping/Pong', () => co(function * () {
    let interface_ = ~~~~package_name@camelcase~~~~({})
    let pong = yield interface_.ping({ params: [] })
    assert.ok(pong)
  }))
})

/* global describe, before, after, it */
