/**
 * Test case for ~~~~package_name@camelcase~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~package_name@camelcase~~~~ = require('../lib/~~~~package_name@snakecase~~~~.js')
const assert = require('assert')
const co = require('co')

describe('~~~~package_name~~~~', () => {
  before(() => co(function * () {

  }))

  after(() => co(function * () {

  }))

  it('Sugo demo interface', () => co(function * () {
    let interface_ = ~~~~package_name@camelcase~~~~({})
    assert.ok(interface_)
    assert.ok(interface_.$spec)
  }))
})

/* global describe, before, after, it */
