language: node_js
node_js:
- '6'
before_install:
- npm i npm-cli-login -g
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- npm who
install:
- npm install
script:
- ./ci/build.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_scaffold.js
- ./ci/travis/push_sugos_index.js
env:
  secure: "dqfOHGze4OJgv4drE+e42d3OVqECV0nWipoNKpPM0ewCqdz+aW6haeEWyjU1PDBYufrqhvLiLT1LRTkXTmtBZJpDDVMRKiCiw3/DpsD82Ri3E8albXeZCIVkIiOSdnchX+PJTZYI34+KpgbT4S75lGj+6a0vn5JlIE6LVUPf1j26vVxLtZ6MOqj6BGppXeYC5FDczRsm9QjBOfhdni4edZHBUu8dHpiez727J4tnLkfUf3XdJQKP9/MJ9tis4f2kEEpU1NeiXA06BLgd99LvT07FwMqQKAT6mkm7mj7bLwmUBJiTUBH0vBKJf4nRXyeltG+o4dq+zAmJ72DK8/SjwwG559wwjO+1lvbectxPPkbydUff7xsSprQTh+1KhC+ChoWYwo+MTagXfKO0ZE2/mZo3bKJpl+/O56g6VI0sNP9sg4q2MYJ+LEarSVyhFurSxuLDr5I7DcuUtcPQ/laMg0r2XdG70chzJgnyDkOpmMvN4DpycnOoQWuNTIRZZnCYjeexNoZJt+/4w/OxVHMvZtYsmIkPuyvlvpCtY2xEt7ABdYTr3+4cWZIsJ/nV5oEPrfuEmNUQW/qI7bccLo6wlKmM5H7oWJeL/MSLZYZdGhsVuLV0d+QaVKv86JKzcYPhxU4wT1IMBG3oMPZnWa15AsubRWT8rDQ8ZFhmRJ9BbmU="
