{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "prepublish": "./ci/build.js",
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "endpoint"
  ],
  "author": {
    "email": "~~~~author_email~~~~",
    "name": "~~~~author_name~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "co": "^4.6.0",
    "debug": "^2.2.0"
  },
  "devDependencies": {
    "ape-doc": "^2.0.4",
    "ape-tmpl": "^5.0.12",
    "aport": "^1.0.0",
    "arequest": "^2.0.5",
    "asleep": "^1.0.3",
    "coz": "^6.0.5",
    "injectmock": "^2.0.0",
    "sg-server": "^1.2.8",
    "sg-travis": "^1.1.25",
    "sugo-ci-endpoint": "^1.0.0",
    "sugos-assets": "^2.0.1"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}