{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "prepublish": "./ci/build.js",
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "endpoint"
  ],
  "author": {
    "email": "~~~~author_email~~~~",
    "name": "~~~~author_name~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "co": "^4.6.0",
    "debug": "^2.2.0"
  },
  "devDependencies": {
    "ape-covering": "^3.0.3",
    "ape-doc": "^2.0.2",
    "ape-formatting": "^1.0.0",
    "ape-releasing": "^4.0.1",
    "ape-reporting": "^3.0.1",
    "ape-tasking": "^4.0.2",
    "ape-testing": "^4.0.0",
    "ape-tmpl": "^5.0.6",
    "ape-updating": "^4.0.1",
    "apemanport": "^1.0.0",
    "apemanrequest": "^1.1.0",
    "apemansleep": "^1.0.3",
    "coz": "^6.0.3",
    "injectmock": "^2.0.0",
    "sg-server": "^1.2.2"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}