/**
 * Reducer of actors.
 */

const actors = (state = [], action) => {
  switch (action.type) {
    /*
     * Agentで検出された actor にターミナルを割り当てる
     */
    case 'CONNECT_ACTORS':
      return action.actors
    case 'TOGGLE_REQUESTING':
      {
        let {actorKey} = action
        console.log(actorKey)
        let actorIndex = state.findIndex(actor => actor.key === actorKey)
        if (actorIndex === -1) {
          return state
        }
        let actor = Object.assign({}, state[actorIndex])
        actor.requesting = !actor.requesting
        let actors = [].concat(state)
        actors[actorIndex] = actor
        return actors
      }
    default:
      return state
  }
}

export default actors
