/**
 * Reducer of spots.
 */

const spots = (state = [], action) => {
  switch (action.type) {
    /*
     * Agentで検出された spot にターミナルを割り当てる
     */
    case 'CONNECT_SPOTS':
      return action.spots
    case 'TOGGLE_REQUESTING':
      {
        let {spotKey} = action
        console.log(spotKey)
        let spotIndex = state.findIndex(spot => spot.key === spotKey)
        if (spotIndex === -1) {
          return state
        }
        let spot = Object.assign({}, state[spotIndex])
        spot.requesting = !spot.requesting
        let spots = [].concat(state)
        spots[spotIndex] = spot
        return spots
      }
    default:
      return state
  }
}

export default spots
