/**
 * Create a module instance
 * @function create
 * @returns {~~~~module_name~~~~}
 */
'use strict';

var ~~~~module_name~~~~ = require('./~~~~module_name@snakecase~~~~');

/** @lends create */
function create() {
  for (var _len = arguments.length, args = Array(_len), _key = 0; _key < _len; _key++) {
    args[_key] = arguments[_key];
  }

  return new (Function.prototype.bind.apply(~~~~module_name~~~~, [null].concat(args)))();
}

module.exports = create;
//# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNyZWF0ZS5qcyJdLCJuYW1lcyI6WyJNeU1vZHVsZSIsInJlcXVpcmUiLCJjcmVhdGUiLCJhcmdzIiwibW9kdWxlIiwiZXhwb3J0cyJdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7O0FBS0E7O0FBRUEsSUFBTUEsV0FBV0MsUUFBUSxhQUFSLENBQWpCOztBQUVBO0FBQ0EsU0FBU0MsTUFBVCxHQUEwQjtBQUFBLG9DQUFOQyxJQUFNO0FBQU5BLFFBQU07QUFBQTs7QUFDeEIsNENBQVdILFFBQVgsZ0JBQXVCRyxJQUF2QjtBQUNEOztBQUVEQyxPQUFPQyxPQUFQLEdBQWlCSCxNQUFqQiIsImZpbGUiOiJjcmVhdGUuanMiLCJzb3VyY2VSb290IjoibGliIiwic291cmNlc0NvbnRlbnQiOlsiLyoqXG4gKiBDcmVhdGUgYSBtb2R1bGUgaW5zdGFuY2VcbiAqIEBmdW5jdGlvbiBjcmVhdGVcbiAqIEByZXR1cm5zIHtNeU1vZHVsZX1cbiAqL1xuJ3VzZSBzdHJpY3QnXG5cbmNvbnN0IE15TW9kdWxlID0gcmVxdWlyZSgnLi9teV9tb2R1bGUnKVxuXG4vKiogQGxlbmRzIGNyZWF0ZSAqL1xuZnVuY3Rpb24gY3JlYXRlICguLi5hcmdzKSB7XG4gIHJldHVybiBuZXcgTXlNb2R1bGUoLi4uYXJncylcbn1cblxubW9kdWxlLmV4cG9ydHMgPSBjcmVhdGVcbiJdfQ==