/**
 * Get configurations
 * @function configs
 * @returns {Object}
 */
'use strict'

const { nameColorizer } = require('apemancolor/lib/colorizers')

module.exports = function configs () {
  let color = nameColorizer('#3A8')('~~~~package_name~~~~')

  return {
    /** Dominant ui color */
    color
  }
}
