import React from 'react'
import { shallow } from 'enzyme'
import { equal, ok } from 'assert'
import Header from '../../ui/js/components/header'

describe('<Header />', () => {
  it('renders', () => {
    const wrapper = shallow(<Header />)
    ok(wrapper.find('h1'))
  })
})

/* global describe it */
