language: node_js
node_js:
- '6'
before_install:
- npm i npm-cli-login -g
- echo "NPM_USER=${NPM_USER}"
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- npm install node-sass -g
install:
- npm install
script:
- ./ci/build.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_scaffold.js
- ./ci/travis/push_sugos_index.js
env:
  secure: "hVTOyz4zq8FZt60QCjZrj+2q+TG018/MEn0zn7nHLZbgAon8A9NcYrTOUOI+/4F8rXOGAEnoHw0Pk+aQbL+fQ77uKEdYqto26naXge1jQiRqCF/5LI0a4qiJ2ef+D4RmUIv+YdTnYX9lL3PklYnVDFzrIZ3MHKjbyKx53yxwY1N8roDPgSa07sOTGy0ddpKodpKLjW+42MjoAgZPiIA3gkDVyN5lXrglyVeO0ESNtaKKHEn1yl7bhstmPQl92y7dwwVv0EcghdHlDLX2cKmd3Tjb4i3Y4caS4RUaSxTLACp8eKHLZcQWWL2ikuHxMbOv5fQ8aL/8f7Wdsr5tjmq1FQ0nvX1ajZmubOZY4GM6MQP5xZ0PugSQp3voR8La1qyZFqHG3v6bMo5Wfq2CQx9vxGPzbWBZDnEAk/B8U0CopUUC7ZztMsTBl0fD1uAOd/7dYqrs8fy8G7D0D4iPQSGyLFz25MMvwSOJbQAtKK+uREXxAHXbCSete1vLZfvpowAXVrOze04tNGulqi0IzRQ+jW0n7d8NC+eTfhXpFSWXNViCmUUYMSyCI0nnFqd8efRT2GKsnHkkGQIu1DYpx441MnP8JCO6EsifqCiOThJ1ZQf5VXP/k+r7GPp/5dG0waXj34Dcg9oBxt2sWOdah59GtadBKMydBjEk8kXHLCfxeBE="
