language: node_js
node_js:
- '6'
before_install:
- echo "registry = https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-virtual" > .npmrc
- curl -u${NPM_USER}:${NPM_PASSWORD} "https://realglobe.artifactoryonline.com/realglobe/api/npm/auth" >> .npmrc
- cat .npmrc
- npm install node-sass -g
install:
- npm install
script:
- ./ci/build.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_scaffold.js
- ./ci/travis/push_sugos_index.js
env:
  secure: "fnSSUe2qhv5Jixqh2AsXTGeSt/lTrczZxYcGxUL7UIdVKlbFmTP2uW2w1bF1jTb2F6ePGU7RS1cLg6/Y5pWhKRpWLUoSGDt6AxdYTlwcWFVi1MBchpapKtryGTG+xI7bbAZ8XG0ZItsNWyN8Ncu4ppTuI5Etkpi5UcH7rfBHlR7mZZHsoziAu1iEfxUZpbaE1qCDsBiaAgMiSwnXGX3KJ7vrGcn8yp554imwzN28SFenBCJJ/7Ha61UCIyeDIoq5+lzjMAsZdsLivzocOJwBM1mUqOxtexG4eXxd8tNtemM3Nt01KlXWRMj6GRn7Ls9VlkL7IYGQ7L2Uqj4t5vXG3kziIb4nXR2G6PwWcoiRddFi4UwdzOFCk2xXAktXlv31Rrz5thKC6wa0yRthc4aoGKZrhl05QDVQuLrohRrSqfaAuCok025KVd0bo4y6nXZf2ggPaTDa1OqapIdLt0qVvZtXt6eVic+WNTzd/flZ/uBKFy1fd3gcGm7CXuvM4Bz6t0EE/sMyXF7KcLY5YPzgsguWgjRjW85D1jo/G12EbVrrWj5mI5AgDrJQ/4NLyTc/a1mB5FlygqW4lILM9ljwmR9DGidpjYq4JfTfQmTothVl+LQZUK6JJ7J82SVKnW9JpWvtTUSPfIw/d07gufek/6gFDcYaOcL5iKFEV6+Tk/4="
