{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "shim/node",
  "scripts": {
    "prepublish": "./ci/build.js",
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "apeman",
    "React",
    "react-component"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "apeman-react-style": "^4.1.3",
    "classnames": "^2.2.5",
    "co": "^4.6.0",
    "debug": "^2.2.0"
  },
  "devDependencies": {
    "ababel": "^1.0.25",
    "ababel-es2015": "^1.0.5",
    "ababel-react": "^1.0.5",
    "abrowserify": "^1.1.2",
    "aglob": "^1.0.1",
    "amocha": "^1.0.13",
    "ape-capturing": "^1.0.4",
    "ape-deploying": "^5.0.5",
    "ape-doc": "^2.0.4",
    "ape-highlighting": "^3.1.0",
    "ape-releasing": "^4.0.4",
    "ape-reporting": "^3.0.2",
    "ape-tasking": "^4.0.8",
    "ape-tmpl": "^5.0.15",
    "ape-updating": "^4.0.5",
    "apeman-asset-templates": "^2.3.5",
    "apeman-react-demo": "^1.0.21",
    "apeman-react-theme": "^6.0.6",
    "awatch": "^1.0.3",
    "breact": "^1.1.1",
    "coz": "^6.0.17",
    "enzyme": "^2.4.1",
    "filecopy": "^2.0.2",
    "injectmock": "^2.0.0",
    "react": "^15.3.0",
    "react-addons-test-utils": "^15.3.0",
    "react-dom": "^15.3.0",
    "sg-travis": "^1.1.29",
    "stringcase": "^3.0.1"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}