import {deepEqual} from 'assert'
import modalWindow from '../../../ui/js/actions/modal_window'

describe('modalWindow', () => {
  it('should create a correct action', () => {
    deepEqual(modalWindow(), {
      type: 'TOGGLE_MODAL_DISPLAY'
    })
  })
})

/* global describe it */
