Usage
---------

Create an instance and apply to sg-server (or sugo-cloud)

```javascript
{{{read 'example/example-usage.js'}}}
```

Then call the api from agent script.

```javascript
{{{read 'example/example-client.js'}}}
```