Signature
-------

#### {{{vars.signature.signature}}}

{{vars.signature.description}}

##### Args

| Name | Type | Default | Description |
| --- | ---- | --- | --- |
{{#each vars.signature.params}}
| {{{name}}} | {{{type}}}  | {{{default}}} | {{{description}}} |
{{/each}}
