{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "prepublish": "./ci/build.js",
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "module"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "co": "^4.6.0",
    "debug": "^2.2.0",
    "sg-check": "^1.0.3"
  },
  "devDependencies": {
    "ape-tmpl": "^5.0.13",
    "coz": "^6.0.5",
    "injectmock": "^2.0.0",
    "sg-schemas": "^2.0.4",
    "sg-validator": "^1.0.0",
    "sugo-ci-module": "^2.0.1",
    "sugos-assets": "^2.0.1"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}