import React from 'react'
import { shallow, mount, render } from 'enzyme'
import { equal, ok } from 'assert'
import ActorListSection from '../../../ui/js/components/actor_list_section'

describe('<ActorListSection />', () => {
  it('renders', () => {
    const wrapper = shallow(<ActorListSection />)
    ok(wrapper.find('ActorList'))
  })
})

/* global describe it */
