/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 2.0.1
 */
'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.~~~~component_name~~~~ = exports.~~~~component_name~~~~Style = undefined;

var _~~~~component_name@snakecase~~~~_style = require('./~~~~component_name@snakecase~~~~_style');

var _~~~~component_name@snakecase~~~~_style2 = _interopRequireDefault(_~~~~component_name@snakecase~~~~_style);

var _~~~~component_name@snakecase~~~~ = require('./~~~~component_name@snakecase~~~~');

var _~~~~component_name@snakecase~~~~2 = _interopRequireDefault(_~~~~component_name@snakecase~~~~);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

exports.~~~~component_name~~~~Style = _~~~~component_name@snakecase~~~~_style2.default;
exports.~~~~component_name~~~~ = _~~~~component_name@snakecase~~~~2.default;
//# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmpzeCJdLCJuYW1lcyI6WyJNeUNvbXBvbmVudFN0eWxlIiwiTXlDb21wb25lbnQiXSwibWFwcGluZ3MiOiJBQUFBOzs7OztBQUtBOzs7Ozs7O0FBR0E7Ozs7QUFDQTs7Ozs7O1FBR0VBLGdCO1FBQ0FDLFciLCJmaWxlIjoiaW5kZXguanN4Iiwic291cmNlUm9vdCI6ImxpYiIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogRGVtbyBvZiByZWFjdCBwcm9qZWN0c1xuICogQG1vZHVsZSBzdWdvLWRlbW8tcmVhY3RcbiAqIEB2ZXJzaW9uIDIuMC4xXG4gKi9cbid1c2Ugc3RyaWN0J1xuXG5cbmltcG9ydCBNeUNvbXBvbmVudFN0eWxlIGZyb20gJy4vbXlfY29tcG9uZW50X3N0eWxlJ1xuaW1wb3J0IE15Q29tcG9uZW50IGZyb20gJy4vbXlfY29tcG9uZW50J1xuXG5leHBvcnQge1xuICBNeUNvbXBvbmVudFN0eWxlLFxuICBNeUNvbXBvbmVudFxufVxuIl19