/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 1.1.0
 */
'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.~~~~component_name~~~~ = exports.~~~~component_name~~~~Style = undefined;

var _~~~~component_name@snakecase~~~~_style = require('./~~~~component_name@snakecase~~~~_style');

var _~~~~component_name@snakecase~~~~_style2 = _interopRequireDefault(_~~~~component_name@snakecase~~~~_style);

var _~~~~component_name@snakecase~~~~ = require('./~~~~component_name@snakecase~~~~');

var _~~~~component_name@snakecase~~~~2 = _interopRequireDefault(_~~~~component_name@snakecase~~~~);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

exports.~~~~component_name~~~~Style = _~~~~component_name@snakecase~~~~_style2.default;
exports.~~~~component_name~~~~ = _~~~~component_name@snakecase~~~~2.default;
//# sourceMappingURL=data:application/json;base64,bnVsbA==