/**
 * Test case for ~~~~package_name@camelcase~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~package_name@camelcase~~~~ = require('../lib/~~~~package_name@snakecase~~~~.js')
const assert = require('assert')
const co = require('co')

describe('~~~~package_name~~~~', function () {
  this.timeout(3000)

  before(() => co(function * () {

  }))

  after(() => co(function * () {

  }))

  it('Sugo demo agent', () => co(function * () {

  }))
})

/* global describe, before, after, it */
