Usage
---------

Register interface to SUGO-Spot

```javascript
{{{read 'example/example-usage.js'}}}
```

Then, call the interface from a remote caller.

```javascript
{{{read 'example/example-terminal.js'}}}
```