{
	"version": 3,
	"file": "index.css",
	"sources": [
		"index.scss"
	],
	"sourcesContent": [
		"\n.editor-busy {\n  opacity: 0.2;\n}\n\nbody {\n  touch-action: pan-y;\n  user-select: initial !important;\n  -webkit-user-select: initial !important;\n  -moz-user-select: initial !important;\n  -webkit-user-drag: initial !important;\n}"
	],
	"mappings": "AACA,AAAA,YAAY,CAAC;EACX,OAAO,EAAE,GAAI,GACd;;AAED,AAAA,IAAI,CAAC;EACH,YAAY,EAAE,KAAM;EACpB,WAAW,EAAE,kBAAmB;EAChC,mBAAmB,EAAE,kBAAmB;EACxC,gBAAgB,EAAE,kBAAmB;EACrC,iBAAiB,EAAE,kBAAmB,GACvC",
	"names": []
}