.editor-busy {
  opacity: 0.2; }

body {
  touch-action: pan-y;
  user-select: initial !important;
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -webkit-user-drag: initial !important; }

/*# sourceMappingURL=index.css.map */