.playground-body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.playground-message {
  display: block;
  margin: 24px 0;
  font-size: 24px;
  color: #CCC;
  text-align: center;
  font-style: italic;
}

.playground-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: #F0F0F0;
}

.playground-row:nth-child(even) {
  background: #FAFAFA;
}

.playground-body .ap-label {
  padding-right: 4px;
  color: #888;
}

.playground-body .ap-selectable-article-alt {
  color: #E11;
  opacity: 1;
  font-style: italic;
}

.playground-body .ap-selectable-article-content-null {
  opacity: 0.2;
}