@charset "UTF-8";
.playground-body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; }
  .playground-body .ap-selectable-article-header {
    max-width: 1024px;
    margin: 0 auto; }
  .playground-body .ap-label {
    padding-right: 4px;
    color: #888; }
  .playground-body .ap-selectable-article-alt {
    color: #E11;
    opacity: 1;
    font-style: italic; }
  .playground-body .ap-selectable-article-content-null {
    opacity: 0.2; }

.playground-message {
  display: block;
  margin: 36px 0;
  font-size: 24px;
  color: #DDD;
  text-align: center;
  font-style: italic; }

.playground-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  border-style: solid;
  border-width: 1px 0;
  border-color: #F0F0F0; }

.playground-row .ap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.playground-item {
  padding: 0 4px; }

.playground-row:nth-child(even) {
  background: #FAFAFA; }

/*# sourceMappingURL=playground.css.map */