{
	"version": 3,
	"file": "playground.css",
	"sources": [
		"playground.scss"
	],
	"sourcesContent": [
		".playground-body {\n  font-family: \"ヒラギノ角ゴ ProN W3\", \"Hiragino Kaku Gothic ProN\", メイリオ, Meiryo, sans-serif;\n}\n\n.playground-message {\n  display: block;\n  margin: 36px 0;\n  font-size: 24px;\n  color: #DDD;\n  text-align: center;\n  font-style: italic;\n}\n\n.playground-row {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  padding: 16px 8px;\n  border-style: solid;\n  border-width: 1px 0;\n  border-color: #F0F0F0;\n}\n\n.playground-row .ap-container {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  width: 100%;\n}\n\n.playground-item {\n  padding: 0 4px\n}\n\n.playground-row:nth-child(even) {\n  background: #FAFAFA;\n}\n\n.playground-body .ap-label {\n  padding-right: 4px;\n  color: #888;\n}\n\n.playground-body .ap-selectable-article-alt {\n  color: #E11;\n  opacity: 1;\n  font-style: italic;\n}\n\n.playground-body .ap-selectable-article-content-null {\n  opacity: 0.2;\n}"
	],
	"mappings": ";AAAA,AAAA,gBAAgB,CAAC;EACf,WAAW,EAAE,2FAA4F,GAC1G;;AAED,AAAA,mBAAmB,CAAC;EAClB,OAAO,EAAE,KAAM;EACf,MAAM,EAAE,MAAO;EACf,SAAS,EAAE,IAAK;EAChB,KAAK,EAAE,IAAK;EACZ,UAAU,EAAE,MAAO;EACnB,UAAU,EAAE,MAAO,GACpB;;AAED,AAAA,eAAe,CAAC;EACd,OAAO,EAAE,IAAK;EACd,eAAe,EAAE,aAAc;EAC/B,WAAW,EAAE,MAAO;EACpB,OAAO,EAAE,QAAS;EAClB,YAAY,EAAE,KAAM;EACpB,YAAY,EAAE,KAAM;EACpB,YAAY,EAAE,OAAQ,GACvB;;AAED,AAAgB,eAAD,CAAC,aAAa,CAAC;EAC5B,OAAO,EAAE,IAAK;EACd,eAAe,EAAE,aAAc;EAC/B,WAAW,EAAE,MAAO;EACpB,KAAK,EAAE,IAAK,GACb;;AAED,AAAA,gBAAgB,CAAC;EACf,OAAO,EAAE,KACV,GAAC;;AAEF,AAA8B,eAAf,AAAA,UAAW,CAAA,AAAA,IAAI,EAAE;EAC9B,UAAU,EAAE,OAAQ,GACrB;;AAED,AAAiB,gBAAD,CAAC,SAAS,CAAC;EACzB,aAAa,EAAE,GAAI;EACnB,KAAK,EAAE,IAAK,GACb;;AAED,AAAiB,gBAAD,CAAC,0BAA0B,CAAC;EAC1C,KAAK,EAAE,IAAK;EACZ,OAAO,EAAE,CAAE;EACX,UAAU,EAAE,MAAO,GACpB;;AAED,AAAiB,gBAAD,CAAC,mCAAmC,CAAC;EACnD,OAAO,EAAE,GAAI,GACd",
	"names": []
}