{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "cloud": "./bin/cloud.js",
    "debug": "./ci/watch.js & DEBUG=sg:* ./bin/cloud.js",
    "prepublish": "./ci/compile.js && ./ci/build.js",
    "spot": "./bin/spot.js",
    "start": "./bin/cloud.js",
    "terminal": "./bin/terminal.js",
    "test": "./ci/test.js",
    "ui": "./bin/ui.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "example"
  ],
  "author": {
    "email": "~~~~author_email~~~~",
    "name": "~~~~author_name~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "apeman-brws-react": "^2.1.1",
    "apeman-brws-request": "^2.1.2",
    "apeman-react-basic": "^6.2.12",
    "apemancolor": "^1.2.1",
    "apemanport": "^1.0.0",
    "babel-polyfill": "^6.9.1",
    "classnames": "^2.2.5",
    "co": "^4.6.0",
    "colorprint": "^4.0.2",
    "commander": "^2.9.0",
    "debug": "^2.2.0",
    "defaults": "^1.0.3",
    "execcli": "^4.0.5",
    "open": "0.0.5",
    "pudding": "^3.0.1",
    "react": "^15.1.0",
    "react-dom": "^15.1.0",
    "sg-compiler": "^1.0.0",
    "sg-react-components": "^1.2.7",
    "sugo-cloud": "^1.2.5",
    "sugo-endpoint-compile": "^1.0.1",
    "sugo-interface-noop": "^1.0.0",
    "sugo-observer": "^1.0.2",
    "sugo-react-example": "^1.1.13",
    "sugo-spot": "^1.0.14",
    "sugo-terminal": "^1.0.12"
  },
  "devDependencies": {
    "ape-compiling": "^4.3.0",
    "ape-covering": "^3.0.3",
    "ape-formatting": "^1.0.0",
    "ape-releasing": "^3.1.1",
    "ape-reporting": "^3.0.1",
    "ape-tasking": "^4.0.1",
    "ape-testing": "^4.0.0",
    "ape-tmpl": "^5.0.2",
    "ape-updating": "^3.0.2",
    "ape-watching": "^2.1.1",
    "apeman-asset-javascripts": "^3.1.7",
    "apemanfs": "^1.0.3",
    "apemanrequest": "^1.1.0",
    "apemansleep": "^1.0.3",
    "coz": "^6.0.2",
    "expandglob": "^3.0.2",
    "filecopy": "^2.0.0",
    "filedel": "^2.0.1",
    "injectmock": "^2.0.0",
    "sugo-cloud": "^1.2.5"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}