{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "bin": {
    "~~~~package_name~~~~": "./bin/cli.js"
  },
  "scripts": {
    "actor": "./bin/actor.js",
    "caller": "./bin/caller.js",
    "cloud": "./bin/cloud.js",
    "debug": "./ci/watch.js & DEBUG=sg:* ./bin/cloud.js",
    "prepublish": "./ci/build.js",
    "start": "./bin/cloud.js",
    "test": "./ci/test.js",
    "ui": "./bin/ui.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "SUGOS",
    "example"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/realglobe-Inc/~~~~package_name~~~~/issues"
  },
  "homepage": "https://github.com/realglobe-Inc/~~~~package_name~~~~#readme",
  "dependencies": {
    "apeman-brws-react": "^3.0.1",
    "apeman-brws-request": "^2.1.9",
    "apeman-react-basic": "^8.0.1",
    "apemancolor": "^1.2.1",
    "asleep": "^1.0.3",
    "babel-polyfill": "^6.9.1",
    "classnames": "^2.2.5",
    "co": "^4.6.0",
    "colorprint": "^4.0.5",
    "commander": "^2.9.0",
    "debug": "^2.2.0",
    "defaults": "^1.0.3",
    "execcli": "^4.0.6",
    "open": "0.0.5",
    "pudding": "^3.0.1",
    "react": "^15.2.1",
    "react-dom": "^15.2.1",
    "sg-compiler": "^1.0.0",
    "sg-react": "^1.0.6",
    "sg-react-components": "^1.3.3",
    "sugo-actor": "^3.0.2",
    "sugo-agent-compile": "^1.0.8",
    "sugo-agent-file": "^1.0.6",
    "sugo-caller": "^2.0.2",
    "sugo-cloud": "^2.0.0",
    "sugo-endpoint-compile": "^2.0.5",
    "sugo-endpoint-file": "^1.0.7",
    "sugo-module-noop": "^3.0.1",
    "sugo-observer": "^2.0.0",
    "sugo-react-example": "^2.0.2"
  },
  "devDependencies": {
    "ababel": "^1.0.18",
    "ababel-es2015": "^1.0.1",
    "ababel-react": "^1.0.1",
    "aglob": "^1.0.1",
    "ape-tmpl": "^5.0.12",
    "ape-updating": "^4.0.4",
    "apeman-react-icon": "^3.0.5",
    "aport": "^1.0.0",
    "arequest": "^2.0.5",
    "coz": "^6.0.5",
    "injectmock": "^2.0.0",
    "sugo-ci-example": "^2.0.2",
    "sugos-assets": "^2.0.1"
  },
  "engines": {
    "node": ">=6.x",
    "npm": ">=3.x"
  },
  "publishConfig": {
    "registry": "https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-local"
  }
}