'use strict'

import React from 'react'
import {~~~~component_name~~~~, ~~~~component_name~~~~Style} from '~~~~package_name~~~~'

const ExampleComponent = React.createClass({
  render () {
    return (
      <div>
        <~~~~component_name~~~~Style />
        <~~~~component_name~~~~/>
      </div>
    )
  }
})
