{"sg:actor:entities":{"actor-01":"{\"key\":\"actor-01\",\"$specs\":{\"noop\":{\"name\":\"sugo-module-noop\",\"version\":\"3.0.3\",\"desc\":\"NOOP interface plugin of SUGOS\",\"methods\":{\"ping\":{\"name\":\"ping\",\"desc\":\"Test the reachability of a module.\",\"params\":[{\"name\":\"pong\",\"type\":\"string\",\"desc\":\"Pong message to return\"}],\"return\":{\"type\":\"string\",\"desc\":\"Pong message\"}},\"assert\":{\"name\":\"assert\",\"desc\":\"Test if the spot fulfills system requirements\",\"params\":[],\"throws\":[{\"type\":\"Error\",\"desc\":\"System requirements failed\"}],\"return\":{\"type\":\"boolean\",\"desc\":\"System is OK\"}}}}},\"callers\":[],\"socketId\":\"/actors#OlBNI4jeFnpVIF4bAAAA\",\"setupAt\":\"2016-07-29T05:48:45.373Z\"}"},"sg:actor:indices:socketId":{"/actors#jGJx0qUYADuYQ9PMAAAA":"actor-01","/actors#OlBNI4jeFnpVIF4bAAAA":"actor-01"}}