{"sg:actor:entities":{"actor-01":"{\"$specs\":{\"noop\":{\"name\":\"sugo-module-noop\",\"version\":\"4.0.3\",\"desc\":\"NOOP module for SUGOS\",\"methods\":{\"ping\":{\"desc\":\"Test the reachability of a module.\",\"params\":[{\"name\":\"pong\",\"type\":\"string\",\"desc\":\"Pong message to return\"}],\"return\":{\"type\":\"string\",\"desc\":\"Pong message\"}},\"assert\":{\"desc\":\"Test if the spot fulfills system requirements\",\"params\":[],\"throws\":[{\"type\":\"Error\",\"desc\":\"System requirements failed\"}],\"return\":{\"type\":\"boolean\",\"desc\":\"System is OK\"}}}}},\"callers\":[],\"key\":\"actor-01\",\"socketId\":\"/actors#DyzJqgtswAeJ9iuXAAAA\",\"setupAt\":\"2016-09-05T03:38:26.319Z\"}"},"sg:actor:indices:socketId":{"/actors#DyzJqgtswAeJ9iuXAAAA":"actor-01"}}