{"sg:actor:entities":{"actor-01":"{\"$specs\":{\"noop\":{\"name\":\"sugo-module-noop\",\"version\":\"4.0.3\",\"desc\":\"NOOP module for SUGOS\",\"methods\":{\"ping\":{\"desc\":\"Test the reachability of a module.\",\"params\":[{\"name\":\"pong\",\"type\":\"string\",\"desc\":\"Pong message to return\"}],\"return\":{\"type\":\"string\",\"desc\":\"Pong message\"}},\"assert\":{\"desc\":\"Test if the spot fulfills system requirements\",\"params\":[],\"throws\":[{\"type\":\"Error\",\"desc\":\"System requirements failed\"}],\"return\":{\"type\":\"boolean\",\"desc\":\"System is OK\"}}}}},\"callers\":[],\"key\":\"actor-01\",\"socketId\":\"/actors#Lz7h2qAao-13XWa7AAAA\",\"setupAt\":\"2016-09-02T07:49:19.672Z\"}"},"sg:actor:indices:socketId":{"/actors#Lz7h2qAao-13XWa7AAAA":"actor-01"}}